# Nextflow
work/
.nextflow/
.nextflow.log*
reports/
timeline*.html
report*.html
trace*.txt

# Apptainer / Singularity
apptainer_cache/
*.sif
*.img

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Data (Never version patient data)
inputs/
derivatives/
*.nii
*.nii.gz
*.bval
*.bvec
*.json
*.b0
*.mat
*.mif

# IDE and OS
.idea/
.vscode/
.DS_Store
*.swp
