params {
    input = "${projectDir}/../inputs/sub-*/dwi/*_dwi.nii.gz"
    anat = "${projectDir}/../inputs/sub-*/anat/*_T1.nii.gz"
    out_dir = "${projectDir}/../derivatives"

    // Path to FreeSurfer license file required by SYNTHB0
    fs_license = System.getProperty('user.home') + "/license.txt"
}

conda.enabled = true

apptainer {
    enabled = true
    autoMounts = true
    cacheDir = "${projectDir}/apptainer_cache"
    runOptions = "--nv --containall --cleanenv"
}

executor {
    name = 'local'
    cpus = 56
    memory = '240 GB'
}



report {
    enabled = true
    file = "reports/report_${new java.util.Date().format('yyyy-MM-dd_HH-mm')}.html"
    overwrite = true
}

timeline {
    enabled = true
    file = "reports/timeline_${new java.util.Date().format('yyyy-MM-dd_HH-mm')}.html"
    overwrite = true
}

process {

    conda = System.getProperty('user.home') + '/miniconda3/envs/bremiss'
    executor = 'local'

    withName: DENOISING {
        cpus = 8
        memory = '16 GB'
    }
    withName: GIBBS_UNRINGING {
        cpus = 4
        memory = '8 GB'
    }
    withName: RICIAN_CORRECTION {
        cpus = 4
        memory = '8 GB'
    }


    withName: SYNTHB0 {
        container = 'docker://leonyichencai/synb0-disco:v3.1'
        cpus = 8
        memory = '20 GB'

        conda = null

        beforeScript = 'mkdir -p INPUTS OUTPUTS'
        containerOptions = {
            // Assumes FREESURFER_HOME is set and contains the license, or the user places it at a known location.
            "--nv " + "-B ${task.workDir}/INPUTS:/INPUTS " + "-B ${task.workDir}/OUTPUTS:/OUTPUTS " + "-B ${task.workDir}:/tmp " + "-B ${params.fs_license}:/extra/freesurfer/license.txt"
        }
    }

    withName: CREATE_MASK {
        cpus = 2
        memory = '4 GB'
    }

    withName: 'REGISTER_T1_TO_B0|REGISTER_MNI_TO_T1' {
        cpus = 4
        memory = '8 GB'
    }
    withName: EDDY {
        label = 'gpu'
        container = null
        // Assuming FSLDIR is correctly set in the environment where Nextflow runs.
        beforeScript = 'source ${FSLDIR}/etc/fslconf/fsl.sh'
        cpus = 8
        memory = '32 GB'
        conda = null
        maxForks = 4
    }

    withName: BIAS_CORRECTION {
        cpus = 8
        memory = '16 GB'
    }
    withName: DKI_FITTING {
        cpus = 8
        memory = '16 GB'
    }
    withName: CALCULATE_ALPS_INDEX {
        cpus = 2
        memory = '4 GB'
    }
}
